@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;1,100;1,500;1,600&family=Rajdhani:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.section-center {
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 6/3;
    object-fit: cover;
    object-position: top center;
}

.section-center img {
    width: 20vw;
    position: absolute;
    top: 31%;
    left: 50px;
}

.section-center h2 {
    position: absolute;
    top: 59%;
    font-size: 3vw;
    left: 50px;
    font-family: 'Poppins';
    font-weight: 600;
}

.section-center h1 {
    position: absolute;
    top: 76%;
    font-size: 2.8vw;
    left: 50px;
    background: #4479E2;
    padding: 9px 11px;
    width: 40vw;
    color: white;
    font-weight: 600;
    text-align: center;
    font-family: 'Poppins';
    background-image: linear-gradient(45deg, #4479e2, #111b2a);
}

@media (max-width:768px) {
    .section-center img {
        left: 20px;
        width: 16vw;
    }
    .section-center h1 {
        left: 20px;
    }
    .section-center h2 {
        left: 20px;
    }
}

.center {
    background-color: #000A1D;
    height: auto;
    width: 100%;
}

.center p {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 15px;
}

.center img {
    height: 315px;
    width: 332px;
    margin-top: 22px;
    background: linear-gradient(#aed6e4);
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1/0;
}

.benefits .text-center h1 {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 39px;
}

.About {
    color: #4479E2;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 39px;
}

.spantag {
    color: #4479E2;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 39px;
}

.card {
    padding: 36px 51px 98px 51px;
    margin: 30px auto;
    width: 292px;
    height: 256px;
    border-radius: 38px;
    box-shadow: 0px 3px 24px #90A8FF;
    cursor: pointer;
}

.card .card_image {
    border-radius: 40px;
}

.card .card_image img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

@media (max-width:576px) {
    .benefits .card .card_image img {
        width: 90px !important;
        height: 90px !important;
    }
    .card {
        padding: 1rem !important;
        width: 216px;
        height: auto;
        padding-bottom: 0 !important;
    }
    .lastsection {
        text-align: center !important;
    }
    .benefits .title-white p {
        padding: 11px !important;
    }
    .image-mask {
        max-inline-size: 80% !important;
    }
    .lastsection h1 {
        font-size: 35px !important;
    }
    .benefits .text-center h1,
    .spantag {
        font-size: 31px;
    }
    .lastsection p,
    h1 {
        text-align: center;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .col-lg-2 {
        width: 24% !important;
    }
}

@media (max-width:576px) {
    .About {
        text-align: center;
    }
    .forsmall {
        text-align: center !important;
    }
}

@media (max-width:1200px) {
    .technologies .btn {
        font-size: 21px !important;
    }
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
    height: auto;
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

.title-white p {
    font-size: 17px;
    font-weight: 500;
    font-family: 'poppins';
    padding: 15px !important;
}

.technologies {
    background-color: #000A1D;
    width: 100%;
    height: auto;
}

.technologies h1 {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 39px;
    color: white;
    text-align: center;
}

.technologies .card {
    box-shadow: none;
    max-width: 100%;
    width: 216px !important;
    height: 249px !important;
    padding: 0 !important;
    border-radius: 24px !important;
}

.technologies .container {
    padding: 0 !important;
}

.technologies .card img {
    width: 212px;
    max-width: 100%;
    height: 180px;
    padding: 5px;
    border-radius: 24px !important;
}

.technologies .btn {
    font-family: 'Rajdhani';
    height: 44px;
    max-width: 85%;
    width: 180px;
    margin-top: 6px;
    background-color: #4479E2;
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-align: center;
    border-radius: 11px;
    background-image: linear-gradient(45deg, #4479e2, #111b2a);
    border: 2px solid #4478E0;
}

.image-mask {
    width: 400px;
    height: 497px;
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1/1;
}

@media (max-width:552px) {
    .lastsection h1 {
        padding-top: 0px !important;
    }
}

.lastsection h1 {
    font-size: 39px;
    font-family: 'poppins';
    font-weight: 600;
}

.lastsection p {
    color: #7C7C7C;
    line-height: 35px;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 15px;
}

.lastsection {
    padding-top: 3rem !important;
}

@media (min-width:1200px) {
    .benefits .container {
        width: 73% !important;
    }
}

@media (min-width:576px) and (max-width:992px) {
    .lastsection {
        padding-left: 5rem !important;
    }
}